.Rproj.user
.Rhistory
.RData
.Ruserdata
01_Intro.qmd
02_Regression.qmd
03_Dataprep.qmd
04_Feature_Engineering.qmd
04_Classification.qmd
05_Classification_part1.qmd
06_Classification_part2.qmd
07_Regularisation.qmd
08_Intro_Regularisation.qmd
linear_regression.R
logistic_regression.R
